/* body {
  background-color: pink;
} */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.side-margin {
  width: 90%;
  margin: auto;
}

.red-font {
  color: red;
}

.green-font {
  color: green;
}

.coin-logo {
  background-color: red;
  border-radius: 1rem;
  text-align: center;
  padding: 2rem 0;
}

.coin-logo img {
  height: 7rem;
  width: 7rem;
}

.coin-logo h2 {
  margin-bottom: 0;
}
