/* body {
  background-color: pink;
} */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.side-margin {
  width: 90%;
  margin: auto;
}

.graph-border {
  border: 6px ridge;
  margin-bottom: 4px;
  box-shadow: inset 3px;
}

.bg-violet {
  background-color: #364267;
}