/* body {
  background-color: pink;
} */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.side-margin {
  width: 90%;
  margin: auto;
}

.market-data-collection {
  margin-top: 1rem;
  background-color: yellow;
  border-radius: 1rem;
  padding: 0 1rem;
}

.red-font {
  color: red;
}

.green-font {
  color: green;
}

.market-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0;
  font-weight: bold;
}

.market-item div:nth-child(2) {
  text-align: right;
}

.coin-logo {
  background-color: red;
  border-radius: 1rem;
  text-align: center;
  padding: 2rem 0;
}

.coin-logo img {
  height: 7rem;
  width: 7rem;
}

.coin-logo h2 {
  margin-bottom: 0;
}

.converter-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.converter-wrapper input:first-child {
  width: 90%;
}

.currency-input {
  display: flex;
}

.currency-input input {
  width: 70%;
  border: 1px solid black;
  border-left: 0;
}

.currency-input select {
  width: 30%;
  border-right: 0;
}